###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
@

#define 2 tasks to execute in order
tasks =[{}]
    
    build =[{}]
        
        src =[]
            
            !tpl:umd-header-single.tpl.js  # include a umd-header template
            ./src/asynchronous.js
            !tpl:umd-footer.tpl.js  # include a umd-footer template
            
        @

        # extract header from this file
        header = ./src/asynchronous.js


        replace =[{}]

            "@@ROOT@@" = "this"
            "@@EXPORTS@@" = "exports"
            "@@VERSION@@" = "0.4.5"
            "@@MODULE_NAME@@" = "Asynchronous"
            
        @

        out = ./build/asynchronous.js
    @
    
    minify =[{}]
        
        src =[]
            ./build/asynchronous.js
        @

        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/asynchronous.min.js
    @
    
@